 @import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');
@import url('https://fonts.googleapis.com/css?family=Cutive');
*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
.Landing{
    width: 100%;
    height: 100%;
}
.Main{
    display:flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.438);
    background-size: cover;
    height: 92.5vh;
    margin-top: 3rem;
    margin-bottom:3rem;

}
.background-wrap{
    display:flex;
    justify-content: center;
    position:fixed;
    height: 100%;
    z-index: -1000;
    border: 3rem solid white;
}


.Title{
    font-family: 'Monoton';
    color: white;
    font-size: 15rem;
    z-index: 2;
    letter-spacing: 1rem;
    animation: moveInLeft;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.sub{
    font-family: 'Cutive Mono';
    color: white;
    font-size: 4rem;
    margin-left: 4rem;
    animation: moveInRight;
    animation-duration: 5s;
    animation-timing-function: ease-out;
}
.login{
    margin-left: 5.7rem;
    font-family: 'Cutive Mono';
    background-color: rgba(255, 255, 255, 0);
    height: 7rem;
    width: 45rem;
    color: white;
    border: .2rem solid white;
    border-radius: 1rem;
    font-size: 4rem;
    animation: moveInBottom;
    animation-duration: 1s;
    animation-timing-function: ease-out;
}  
.login:hover{
    background: white;
    color:rgb(0, 0, 0);
}
@keyframes moveInLeft{
    0%{
        opacity: 0;
        transform:translateX(-10rem)
    }
    80%{
        transform: translateX(1rem)
    }
    100%{
        opacity:1;
        transform:translate(0);
    }
}
@keyframes moveInRight{
    0%{
        opacity: 0;
        transform:translateX(10rem)
    }
    80%{
        transform: translateX(-1rem)
    }
    100%{
        opacity:1;
        transform:translate(0);
    }
}
@keyframes moveInBottom{
    0%{
        opacity: 0;
        transform:translateY(3rem)
    }
    100%{
        opacity:1;
        transform:translate(0);
    }
}
@media(max-width:616px){
    .Title{
        font-size:14rem;
    }
    .sub{
        font-size: 3.5rem;
    }
    .login{
        font-size:3.5rem;
        width: 44rem;
    }
}
@media(max-width: 583px){
    .Title{
        font-size:10rem;
    }
    .sub{
        font-size: 2rem;
    }
    .login{
        font-size:2rem;
        width: 35rem;
    }
}
@media(max-width: 437px){
    .Title{
        font-size:8rem;
    }
    .sub{
        font-size: 2rem;
    }
    .login{
        font-size:2rem;
        width: 30rem;
        height: 5rem;
    }
}
@media(max-width:389px){
    .login{
        margin-left: 1.5rem;
        width: 20rem;
        font-size: 1.5rem;
        height: 4rem;
    }
    .Title{
        font-size: 6rem;
    }
    .sub{
        font-size: 1.5rem;
        margin-left: 5px;
    }
}