@import url('https://fonts.googleapis.com/css?family=Monoton');
@import url('https://fonts.googleapis.com/css?family=Cutive+Mono');

.Header{
    /* margin-bottom: 30px; */
}
.main{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    height: 140px;
    padding: 20px;
    background-color: black;
}
.logout{
    font-size: 30px;
    width: 130px;
    margin-right: 20px;
    font-family: 'Cutive Mono';
    border: 2px solid white;
    background: rgba(255, 255, 255, 0);
    color: white;
    border-radius: 10px;
}
.logout:hover{
    background-color:white;
    color:black;
}
.title{
    font-family: 'Monoton';
    color: white;
    font-size: 60px;
    margin-left: 20px;
    letter-spacing: 5px;
}
.titleLink{
    text-decoration: none;
}
.titleLink:visited{
    text-decoration: none;
}